In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('a1.csv')

In [3]:
df

     sky airtemp humidity    wind water forcast enjoysport
0  sunny    warm   normal  strong  warm    same        yes
1  sunny    warm     high  strong  warm    same        yes
2  rainy    cold     high  strong  warm  change         no
3  sunny    warm     high  strong  cool  change        yes

In [4]:
#train data
trdf = np.array(df)[:,:-1]

In [5]:
trdf

array([['sunny', 'warm', 'normal', 'strong', 'warm', 'same'],
       ['sunny', 'warm', 'high', 'strong', 'warm', 'same'],
       ['rainy', 'cold', 'high', 'strong', 'warm', 'change'],
       ['sunny', 'warm', 'high', 'strong', 'cool', 'change']],
      dtype=object)

In [6]:
#target data
tadf = np.array(df)[:,-1]

In [7]:
tadf

array(['yes', 'yes', 'no', 'yes'], dtype=object)

In [8]:
def trainset(traindata,targetdata):
    for i,value in enumerate(targetdata):
        if value.lower() == 'yes':
            neededval = traindata[i].copy()
            break
    for i,value in enumerate(traindata):
        if targetdata[i].lower()=='yes':
            for x in range (len(neededval)):
                if value[x] != neededval[x]:
                    neededval[x] = '?'
                else:
                    pass
    return neededval

In [9]:
print(trainset(trdf,tadf))

['sunny' 'warm' '?' 'strong' '?' '?']